<head>
    <title>{{title}} my blog</title>
    {% if math_enable %}
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$']],
                displayMath: [['$$', '$$'],],
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.bootcdn.net/ajax/libs/mathjax/3.2.2/es5/tex-svg.js">
        </script>
    {% endif %}
</head>
<body>
    <div class="post_content">
        <!-- someother class -->
        <div class="post_content_render">
            {% block post_content %}{% endblock post_content %}
        </div>
    </div>
</body>